<ng-sidebar-container>
	<div ng-sidebar-content>
		<ng-sidebar #sidenav [(opened)]="_opened" [(mode)]="_mode" >
			<div class="sidebar-panel   icon-sidebar" id="showSidebar">
				 
				<div class="sidebar-container mt-3 pt-3">
					 	<div>
							<nav menuToggleDirective class="navigation">
								<ul class="chankya-nav">
									<li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getAll()" [ngClass]="{'menu-item-has-child': menuitem.type=='sub'}">
										<a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'"
											tourAnchor="tour-ui">
											<i class="{{ menuitem.icon }}"></i>
											<p class="text-nowrap mb-0">
												<span>{{ menuitem.name }}</span>{{menuitem.label}}
											</p>
										</a>
										<a menuToggle [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
											<i class="{{ menuitem.icon }}"></i>
											<p class="text-nowrap mb-0">
												<span>{{ menuitem.name }}</span>
											</p>
											<ng-container *ngIf="menuitem.label">
												<span class="sidebar-label">{{menuitem.label}}</span>
											</ng-container>
										</a>
										<a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
											<i class="{{ menuitem.icon }}"></i>
											<p class="text-nowrap mb-0">
												<span>{{ menuitem.name }}</span>
											</p>
											<i class="fa fa-caret-down" aria-hidden="true"></i>
											<ng-container *ngIf="menuitem.label">
												<span class="sidebar-label">{{menuitem.label}}</span>
											</ng-container>
										</a>
										<ul class="sub-menu chankya-nav" *ngIf="menuitem.type === 'sub'">
											<li class="nav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
												<a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link">
													<i class="icon icon-arrows-right-double"></i>
													<p class="text-nowrap mb-0"><span>{{ childitem.name }}</span></p>
													<ng-container *ngIf="childitem.label">
														<span class="sidebar-label">{{childitem.label}}</span>
													</ng-container>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							 
							</nav>
						</div>
					 
				</div>
			</div>
			<!-- sidebar panel closed -->
		</ng-sidebar>
		 
	</div>
	<!-- Sidebar Closed -->
</ng-sidebar-container>